/* Code adapted from Ben Greenberg*/
/* https://github.com/nebbles/js-sandbox/blob/master/p5js-bounce/style.css */

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 10px;
  cursor: crosshair;
}

.container {
  position: absolute; /* put info box on top of canvas */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap-reverse;
}

.box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
  flex-shrink: 0;
  
}
#quickstart-guide {
	width: 450px;	
	height: 100px;
  	line-height: 20px;
	text-justify: auto;

	overflow-y: auto; /* add vertical scroll bar */
}
#quickstart-guide a {
	text-decoration: none;
	color: white;
}
#quickstart-guide a:hover {
  color: black;
  background-color: white;
}

#info-box {
	display: block;
}

#info-button {
	display: none;
}

.button button {
	bottom: 5;
	left: 0;
	cursor: pointer;
	height:100%;
	/* margin-bottom: auto; */
	font-size: 2rem;
	height: 2rem;
	border: none;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

h2 a:hover {
	color: black;
}


h3 a {
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 2px 4px;
  margin-right: 10px;
}

h3 a:hover {
  color: black;
  background-color: white;
}

@media (max-width: 600px) {

}

h3 button {
  cursor: pointer;
  height:100%;
  float: right;
  /* margin-bottom: auto; */
  font-size: 1.2rem;
  height: 2rem;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px 0px;
}

.debug {
  margin-top: auto;
  font-size: 0.7rem;
}

.debug h1 {
  font-size: 0.8rem;
}

.debug input {
  margin-right: 5px;
  border-radius: 0px;
}
